<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>hello</h1>

<ul>
    <%for (var i =0 ;i<data.length; i++){%>
    <li><%-data[i].name%></li>
    <li><%-data[i].age%></li>
    <%}%>

</ul>

</body>
</html>